/* Sidebar normal */
#sidebar-wrapper {
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
}

/* Sidebar recolhida */
#sidebar-wrapper.collapsed {
  width: 110px;
}

/* Some apenas o texto dos links */
#sidebar-wrapper.collapsed a span {
  display: none;
}

/* Ícones continuam visíveis */
#sidebar-wrapper a i {
  font-size: 1.3rem;
  width: 30px; /* garante alinhamento */
}

/* Ajusta o alinhamento dos links recolhidos */
#sidebar-wrapper.collapsed a {
  justify-content: center !important;
}
